.modalPortfolio {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 10rem;
  /* display: flex; */

  /* justify-content: center; */
  align-items: center;
  z-index: 10;
}

.modalText {
  font-size: 10rem;
  color: white;
}

.sliderPortfolio {
  margin-top: 10rem;
}

.columns.portfolio-item {
  display: flex;
  flex-direction: column;
}

/* .slick-slider.slick-initialized {
  margin: auto 0 !important;
} */
